
.new-body {
 min-height: 100vh;
 background: linear-gradient(180deg, #643296, #64329696) !important;
}


.login-wrap {
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
padding: 15px;
}


.login-box{
  width: 100%;
  max-width: 380px;
  background-color: #fff;
  border-radius: 8px;
  padding: 30px 26px;
  box-shadow: 0 10px 3px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.logo img{
  max-height: 40px;
  margin-bottom: 10px;
}

.logo img{
  max-height: 40px;
  margin-bottom: 10px;
}



.login-box h2{
  font-size: 25px;
  font-weight: 600;
  color: #643296;
  margin-bottom: 18px;
}


.field {
  margin-bottom: 12px;
}

.field input {
  width: 100%;
  height: 38px;
  padding: 0 10px;
  font-size: 13px;
  border-radius: 4px;
  border: 1px solid #cfd6df !important;
  padding: 0 10px !important;
  border-radius: 5px !important;
}

.field input:focus {
  outline: none;
  border-color: #0b3a6a;
}

.remember{
  display: flex;
  gap: 5px;
  justify-content: start;
  align-items: center;
  font-size: 15px;
  margin-bottom: 12px;
  color: #333;
}

.remember input{
 height: 15px;
 width: 20px;
 margin-bottom: 5px;
}

.captcha-row {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}

  .captcha-box {
  flex: 1;
  height: 36px;
  background: #f3f4f6;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  letter-spacing: 2px;
  color: #1f2937;
  }

  .refresh {
  width: 90px;
  border: none;
  border-radius: 4px;
  background: #643296;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  font-weight: 500;
  }

  .login-btn{
  width: 100%;
  height: 40px;
  background: #643296;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 5px;
  }

  .login-btn:hover {
  background:#643296c5;
  }

  .forgot{
  display: inline-block;
  margin-top: 10px;
  font-size: 12px;
  color: #0b3a6a;
  text-decoration: none;
  }

  .forgot:hover {
  text-decoration: underline;
  }


@media (max-width: 420px) {
  .login-box {
    padding: 22px 18px;
  }
}
