/* RESET */
table,
th,
tr,
td,
span,
small,
a,
img,
p,
label,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.invoice-body {
  min-height: 100vh;
  background: #f5f5f5;
  padding: 10px 0;
  font-family: "Work Sans", Arial, sans-serif;
  color: #222;
  font-size: 14px;
}

.invoice-wrapper {
  width: 800px;
  margin: auto;
  background: #ffffff;
  border: 1px solid #ddd;
  border-collapse: collapse;
}

.invoice-padding {
  padding:50px 24px 20px 24px;
}

.invoice-padding table {
  width: 100%;
  table-layout: fixed;
}

.invoice-padding table tr td {
  width: 50%;
  vertical-align: top;
}

.invoice-logo {
  height: 100px;
}

.invoice-header-right {
  text-align: right;
}

.invoice-title {
  display: block;
  font-size: 20px;
  margin-bottom: 14px;
  letter-spacing: 1px;
}

.invoice-meta {
  display: flex;
  width: 260px;
  margin-left: auto;
  border: 1px solid #ccc;
  font-size: 13px;
}

.invoice-meta + .invoice-meta {
  border-top: none;
}

.invoice-meta span {
  width: 60%;
  padding: 6px;
  background: #f1f1f1;
  font-weight: 500;
}
.download-btn {
  background: #0d6efd;
  color: #fff;
  border: none;
  padding: 6px 14px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  top: 54px;
  margin-left:69%;
  margin-top:8px;
}

.download-btn:hover {
  background: #0b5ed7;
}   

.invoice-meta small {
  width: 40%;
  padding: 6px;
}

.billing-left,
.billing-right {
  line-height: 24px;
  vertical-align: top;
}

.billing-left {
  text-align: left;
}

.billing-right {
  text-align: right;
}

.billing-left span,
.billing-right span {
  display: block;
  margin-bottom: 6px;
}

.project-name {
  display: block;
  margin-top: 14px;
  font-weight: 500;
}

.status {
  display: inline-block;
  border: 1px solid #f00;
  cursor: pointer;
  padding: 6px 20px;
  font-weight: 500;
  margin-top: 30px;
  border-radius: 5px;
  float: right;
}

.status.unpaid {
  border: 1px solid #d32f2f;
  color: #d32f2f;
}

.invoice-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.invoice-table th,
.invoice-table td {
  padding: 10px;
  border: 1px solid #ccc;
}

.invoice-table th {
  background: #f1f1f1;
  font-weight: 600;
}

.text-right {
  text-align: right;
}

.bold {
  font-weight: 600;
}

.total-due {
  background: #f1f1f1;
}

.terms-title {
  font-weight: 600;
  margin-bottom: 4px;
}

@media print {
  .invoice-body {
    background: #fff;
    padding: 0;
  }

  .invoice-wrapper {
    width: 100%;
    border: none;
  }
}
